.container
    .well
        form.form-horizontal(name="editMedicine")
            fieldset
                legend Edit existing medicine/drug
                .form-group
                    label(for="name").col-md-2.control-label Name:
                    .col-md-10
                        div(medicines)
                .form-group
                    label(for="desc").col-md-2.control-label Description:
                    .col-md-10
                        input(id="desc" type="text"  placeholder="Description" ng-model="curMedicine.desc" required="required").form-control
                .form-group
                    label(for="sideEffects").col-md-2.control-label Side effects:
                    .col-md-10
                        input(id="sideEffects" type="text"  placeholder="Side Effects (ex. headache, dizziness, chest pain, breast enlargement)" ng-model="curMedicine.sideEffects").form-control
                .form-group
                    label(for="minAge").col-md-2.control-label Min age:
                    .col-md-10
                        input(id="minAge" type="number"  placeholder="Age" min=0 ng-model="curMedicine.minAge" required="required").form-control
                .pull-right
                    button(ng-click="update(curMedicine)", ng-disabled="editMedicine.$invalid").btn.btn-primary Update
                    a(href="#/" ).btn.btn-primary Cancel