.container
    .well
        form.form-horizontal(name="examinationAddForm")
            fieldset
                legend New examination
                .form-group
                    label(for="examination-patient").col-md-2.control-label Patient
                    .col-md-10
                        input.form-control(id="examination-patient" type="text" placeholder="Patient username" ng-model="examination.PatientNumber" required="required")

                .pull-right
                    a.btn.btn-primary(href="" ng-click="findPatient(examination.PatientNumber)") Search

                br
                br
                br
                .form-group
                    label.col-md-2.control-label(for="patient-first-name") First name
                    .col-md-10
                        input.form-control(id="patient-first-name" type="text" ng-model="searchPatient.FirstName" disabled="disabled" required="required")
               .form-group
                    label.col-md-2.control-label(for="patient-last-name") Last Name
                    .col-md-10
                        input.form-control(id="patient-last-name" type="text" ng-model="searchPatient.LastName" disabled="disabled" required="required")
                .form-group
                    label.col-md-2.control-label(for="patient-age") Age
                    .col-md-10
                        input.form-control(id="patient-age" type="text" ng-model="searchPatient.Age" disabled="disabled")
                .form-group
                    label.col-md-2.control-label(for="patient-gender") Gender
                    .col-md-10
                        input.form-control(id="patient-gender" ng-model="searchPatient.Gender" disabled="disabled")
                .form-group
                    label.col-md-2.control-label(for="patient-history") Medical history
                    .col-md-10
                        textarea.form-control(id="patient-history" ng-model="searchPatient.History" disabled="disabled")
                .form-group
                    label.col-md-2.control-label(for="examination-information") Information
                    .col-md-10
                        textarea.form-control(id="examination-information" placeholder="Information" ng-model="examination.Information" required="required")
                .form-group
                    label.col-md-2.control-label(for="choose-procedure") Select procedure
                    .col-md-10
                        select.form-control(id="choose-procedure" ng-model="examination.Procedure")
                            option(ng-repeat="selectedProcedure in procedures" value="{{selectedProcedure._id}}") {{ selectedProcedure.name }}
                .form-group
                    label.col-md-2.control-label(for="choose-medicine") Select medicine:
                    .col-md-10
                        select.form-control(id="choose-medicine" ng-model="examination.Medicine")
                            option(ng-repeat="selectedMedicine in medicines" value="{{selectedMedicine._id}}") {{ selectedMedicine.name }}
                .form-group
                    label.col-md-2.control-label(for="examination-results") Result
                    .col-md-10
                        textarea.form-control(id="examination-results" placeholder="Result" ng-model="examination.Result" required="required")
                .pull-right
                    button.btn.btn-primary(ng-click="newExamination(examination)" ng-disabled="examinationAddForm.$invalid") Add
                    a.btn.btn-primary(href="#/") Cancel