
<div class="container">
  <div class="well">
    <form name="examinationViewForm" class="form-horizontal">
      <fieldset>
        <legend>View examination</legend>
        <div class="form-group">
          <label for="examination-patient" class="col-md-2 control-label">Patient</label>
          <div class="col-md-10">
            <input id="examination-patient" type="text" placeholder="Patient number" ng-model="examination.PatientNumber" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-first-name" class="col-md-2 control-label">First name</label>
          <div class="col-md-10">
            <input id="patient-first-name" type="text" ng-model="searchPatient.FirstName" disabled="disabled" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-last-name" class="col-md-2 control-label">Last Name</label>
          <div class="col-md-10">
            <input id="patient-last-name" type="text" ng-model="searchPatient.LastName" disabled="disabled" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-age" class="col-md-2 control-label">Age</label>
          <div class="col-md-10">
            <input id="patient-age" type="text" ng-model="searchPatient.Age" disabled="disabled" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-gender" class="col-md-2 control-label">Gender</label>
          <div class="col-md-10">
            <input id="patient-gender" ng-model="searchPatient.Gender" disabled="disabled" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-history" class="col-md-2 control-label">Medical history</label>
          <div class="col-md-10">
            <textarea id="patient-history" ng-model="searchPatient.History" disabled="disabled" required="required" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="examination-information" class="col-md-2 control-label">Information</label>
          <div class="col-md-10">
            <textarea id="examination-information" placeholder="Information" ng-model="examination.Information" required="required" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="choose-procedure" class="col-md-2 control-label">Select procedure:</label>
          <div class="col-md-10">
            <select id="choose-procedure" ng-model="examination.Procedure" class="form-control">
              <option ng-repeat="selectedProcedure in procedures" value="{{selectedProcedure.Id}}">{{ selectedProcedure.Name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="choose-medicine" class="col-md-2 control-label">Select medicine:</label>
          <div class="col-md-10">
            <select id="choose-medicine" ng-model="examination.Medicine" class="form-control">
              <option ng-repeat="selectedMedicine in medicines" value="{{selectedMedicine.Id}}">{{ selectedMedicine.Name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="examination-results" class="col-md-2 control-label">Result</label>
          <div class="col-md-10">
            <textarea id="examination-results" placeholder="Result" ng-model="examination.Result" required="required" class="form-control"></textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div></div>
</div></div>