.menu {
  list-style: none;
  border-bottom: 0.1em solid #000;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.toast-top-right {
  top: 70px;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.image-container img {
  width: 100%;
  height: 100%;
}
input.ng-dirty.ng-invalid {
  background-color: #ffc0cb !important;
}
input.ng-dirty.ng-valid.validity {
  background-color: #8fbc8f !important;
}
.vertical-content {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.big-text {
  font-size: 2em;
}
[ng:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.location {
  margin-right: 1.5%;
}
.image-container img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.navbar-right .navbar-form input {
  margin-right: 5px;
}
form div button {
  margin-right: 5px;
}
form div a {
  margin-right: 5px;
}
.toast-top-right {
  top: 70px;
}
.angular-google-map-container {
  height: 490px;
}
textarea {
  resize: vertical;
}
#map-canvas {
  height: 600px;
  width: 93%;
  margin-left: 3.6%;
}
