extends includes/layout
block main-content
    .navbar.navbar-default
        .container
            .navbar-header
                a(href="#/").navbar-brand Clinic system
                button(type="button" data-toggle="collapse" data-target="#navbar-main").navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a(data-toggle="dropdown" href="")#about.dropdown-toggle About us
                            span.caret
                        ul(aria-labelledby="themes").dropdown-menu
                            li
                                a(href="#/about") About
                            li
                                a(href="#/list-specialists") Our specialists
                            li
                                a(href="#/list-procedures") Procedures
                            li
                                a(href="#/contact-us") Contact us
                    li.dropdown
                        a(data-toggle="dropdown" href="")#patients.dropdown-toggle Patients
                            span.caret
                        ul(aria-labelledby="themes").dropdown-menu
                            li
                                a(href="#/register-patient") Register
                            li
                                a(href="#/profile-patient") Profile
                            li
                                a(href="#/patient-examinations") My examinations
                    li.dropdown
                        a(data-toggle="dropdown" href="")#specialists.dropdown-toggle Specialists
                            span.caret
                        ul(aria-labelledby="themes").dropdown-menu
                            li
                                a(href="#/register-specialist") Register
                            li
                                a(href="#/profile-specialist") Profile
                            li
                                a(href="#/new-examination") Examination
                            li
                                a(href="#/list-examinations") View examinations
                            li
                                a(href="#/new-medicine") New medicine
                            li
                                a(href="#/edit-medicine") Update medicine
                            li
                                a(href="#/new-procedure") New procedure
                            li
                                a(href="#/edit-procedure") Update procedure
                div(ng-include="'partials/login'")
    div(ng-view)

    hr
    footer(ng-cloak).text-center
        strong Copyright:&nbsp
        a(href="http://telerikacademy.com/" target="_blank") Telerik Academy 2014
        | &nbsp&&nbsp
        a(href="https://github.com/penjurov/ClinicSystem" target="_blank") Team "Nike"
        br
        strong Powered by:&nbsp
        a(href="http://angularjs.org/" target="_blank") AngularJS
        | &nbspand&nbsp
        a(href="http://getbootstrap.com/" target="_blank") Twitter Bootstrap
    hr