doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title Clinic System
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="myApp" ng-cloak)
        block main-content

        include scripts