.nav.navbar-nav.navbar-right(ng-controller="LoginCtrl")
    form(ng-hide="identity.isAuthenticated()").navbar-form
        .form-group
            input.form-control(type="text", placeholder="Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Password", ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Login

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
                span.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isSpecialist()")
                    a(href="#/register-patient") Add new patient
                li(ng-show="identity.currentUser.isSpecialist()")
                    a(href="#/view-patients") View patients
                li
                    a(href="#" ng-click="logout()") Sign Out