.container
    .well
        h1 Last hope Clinic Mission and Values
        h4
            strong Mission
        p To inspire hope and contribute to health and well-being by providing the best care to every patient through integrated clinical practice, education and research.
        h4
            strong Value statements
        p These values, which guide Last hope Clinic's mission to this day, are an expression of the vision and intent of our founders, the original Last hope physicians and the Sisters of Saint Francis.
        h4
            strong Respect
        p Treat everyone in our diverse community, including patients, their families and colleagues, with dignity.
        h4
            strong Compassion
        p Provide the best care, treating patients and family members with sensitivity and empathy.
        h4
            strong Integrity
        p Adhere to the highest standards of professionalism, ethics and personal responsibility, worthy of the trust our patients place in us.
        h4
            strong Healing
        p Inspire hope and nurture the well-being of the whole person, respecting physical, emotional and spiritual needs.
        h4
            strong Teamwork
        p Value the contributions of all, blending the skills of individual staff members in unsurpassed collaboration.
        h4
            strong Excellence
        p Deliver the best outcomes and highest quality service through the dedicated effort of every team member.
        h4
            strong Innovation
        p Infuse and energize the organization, enhancing the lives of those we serve, through the creative ideas and unique talents of each employee.
        h4
            strong Stewardship
        p Sustain and reinvest in our mission and extended communities by wisely managing our human, natural and material resources.