.container
    .well
        form.form-horizontal
            fieldset
                .form-group.pull-right
                    label.col-md-3.control-label Search:
                    .col-md-9
                        input(type="text" placeholder="Search..." ng-model="search").form-control
        table.table.table-striped.table-hover.project-table
            col(width="40%")
            col(width="20%")
            col(width="20%")
            col(width="20%")
            thead
                tr
                    th Names
                    th Speciality
                    th Phone
                    th Email
            tbody
                tr(ng-repeat="specialist in specialists | filter: search")
                    td {{specialist.firstName + ' ' + specialist.lastName}}
                    td {{specialist.specialty}}
                    td {{specialist.phone}}
                    td {{specialist.email}}